<nav class="navbar navbar-default">

    <div class="navbar-header">
       <a href="#" class="navbar-brand">Recipe Book</a>
    </div>

    <div class="navbar navbar-collapse">
       <ul class="nav navbar-nav">
         <!--Removing click listeners as adding routing-->
          <li routerLinkActive="active"><a routerLink="/recipes">Recipes</a></li> <!--(click)="onSelect('Recepie')"-->
          <li routerLinkActive="active"><a routerLink="/shopping-list">Shopping List</a></li><!--(click)="onSelect('Shopping-list')"-->
       </ul>

      <ul class="nav navbar-nav navbar-right" appDropdown>
        <li class="dropdown">
          <a style="cursor:pointer;" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
           <ul class="dropdown-menu">
             <li><a style="cursor:pointer;">Save Data</a></li>
             <li><a style="cursor:pointer;">Fetch Data</a></li>
           </ul>
        </li>
      </ul>
    </div>


</nav>
