<div class="container">
  <div class="row">
    <div class="col-md-5">
       <app-recipe-list></app-recipe-list>
       <!--(recepieWasSelected)="selectedRecepie = $event"></app-recipe-list>-->
    </div>
    <div class="col-md-7">
      <router-outlet></router-outlet>
       <!--<app-recipe-details *ngIf="selectedRecepie; else select"
       [recepieDetail]="selectedRecepie"></app-recipe-details>
       <ng-template #select>
         <p>Please select a Recepie</p>
       </ng-template>-->
    </div>
  </div>
</div>

