<app-header (featureSelected)="onNavigate($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <router-outlet></router-outlet>
      <!--<app-recipes *ngIf="loadedFeature === 'Recepie'"></app-recipes>
      <app-shopping-list *ngIf="loadedFeature !== 'Recepie'"></app-shopping-list>-->
    </div>
  </div>
</div>
