<!--To display the information about selected recepie-->
<div class="row">
  <div class="col-xs-12">
    <img
      [src]="recepieDetail.imagePath"
      alt="{{recepieDetail.name}}"
      class="img-responsive"
       style="max-height: 300px;">
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h1>{{ recepieDetail.name }}</h1>
  </div>
</div>

<!--button to allow add and delete to shopping list-->
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button type="button"
              class="btn btn-primary dropdown-toggle">
              Manage Recepie<span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a style="cursor:pointer;" (click)="onAddToShoppingList()">Add Ingrdients to shopping List</a></li>
        <li><a style="cursor:pointer;" (click)="onEdit()">Edit Recepie</a></li>
        <li><a style="cursor:pointer;">Delete Recepie</a></li>
      </ul>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-xs-12">
     {{ recepieDetail.description }}
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recepieDetail.ingredients">
        {{ ingredient.name }} {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>
