<a style="cursor:pointer"
   [routerLink]="[index]"
   routerLinkActive="active"
  class="list-group-item clearfix">
  <!--removing click listener as adding routing-->
   <!--(click)="onSelected()">-->
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ recepie.name }}</h4>
    <p class="list-group-item-text">{{ recepie.description }}</p>
  </div>

  <!--Two ways to use src attribute-->
  <!--src="{{ recepie.imagePath }}"-->
  <span class="pull-right">
         <img
           [src]="recepie.imagePath"
           alt="{{ recepie.name }}"
           class="img-responsive"
           style="max-height: 50px;">
      </span>
</a>
