<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onNewRecepie()">New Recepie</button>
  </div>
   <hr><hr>

  <div class="col-xs-12">
     <!--[recepie]="recepieEle"  ---Input to recepie-item-->
     <!--(recepieSelected)=  ---Input to recepie-item-->
    <app-recipe-item
      *ngFor="let recepieEle of recepies; let i = index"
      [recepie]="recepieEle"
       [index] = i></app-recipe-item>
    <!-- using cross component communication using service-->
      <!--(recepieSelected)="onRecepieSelected(recepieEle)"></app-recipe-item>-->

  </div>
</div>
